html, body {
    margin: 0;
    padding: 0;
}

:root {
    --stage-1: 25%;
    --stage-2: 50%;
    --stage-3: 75%;
    --stage-4: 100%;
    --progress-bar-bg: #E0E0E0;
    --stage-1-bg: #f44336;
    --stage-2-bg: #ff9800;
    --stage-3-bg: #2196f3;
    --stage-4-bg: #4caf50;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 1px solid #000;
}

.progress-bar {
    width: 50%;
    height: 40px;
    background-color: var(--progress-bar-bg);
    border-radius: 20px;
    overflow: hidden;
}

.prog-status {
    height: 40px;
    border-radius: 20px;
    width: 0;
    background-color: var(--stage-4-bg);
    animation: progress-animation 5s ease-in-out forwards;
}

/* Definisikan animasi untuk membuat progress bar bergerak */
@keyframes progress-animation {
    0% {
        width: 0%;
        background-color: var(--stage-1-bg);
    }
    25% {
        width: var(--stage-1);
        background-color: var(--stage-1-bg);
    }
    50% {
        width: var(--stage-2);
        background-color: var(--stage-2-bg);
    }
    75% {
        width: var(--stage-3);
        background-color: var(--stage-3-bg);
    }
    100% {
        width: var(--stage-4);
        background-color: var(--stage-4-bg);
    }
}